@use '../../base/colors' as *;
@use '../../base/typography' as *;
@use '../../components/misc/buttons' as *;

.logout-container {

    button {
        padding: 1.2rem;
        width: 17rem;
        border-style: none;
        background-color: transparent;
        border: 4px solid $btn-color;
        font-family: $primary-font;
        font-size: 25px;
        color: $btn-color;
        border-radius: 3rem;
        margin-top: 2rem;
        letter-spacing: 1px;
    }
}