@use '../../components/misc/buttons' as *;
@use '../../base/colors' as *;
@use '../../base/typography' as *;

.popup__wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    .popup-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 99;
      }
}

.popup__container {
    background-color: $btn-color;
    position: absolute;
    z-index: 100;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white;
    font-family: $secondary-font;
    font-size: 17px;
    

    .popup__form-date {
        display: flex;
        margin: 2rem;
        display: flex;
        justify-content: end;
        align-items: center;

        .popup__form-arrow {
            margin: 2rem;
        }

        input {
            padding: 0.5rem;
            font-family: $secondary-font;
            font-size: 15px;
            border-radius: 0.5rem;
            border-style: none;
        }
    }

    h2 {
        font-size: 30px;
        font-family: $primary-font;
        letter-spacing: 1.5px;
    }

    form {
        margin: 0 5rem 5rem 5rem;

        #form-btn {
            padding: 1rem;
            background-color: transparent;
            color: white;
            font-size: 17px;
            width: 12rem;
            border: 1px solid white;
            border-radius: 2rem;
        }
    }

    .popup__close {
        background-color: transparent;
        border-style: none;
        display: flex;
        margin-left: auto;

        i {
            font-size: 30px;
            padding: 2rem;
            display: flex;
            color: white;
        }
    }
}